<div class="row">
    <div class="col-12">
        <mat-card>
            <img mat-card-md-image src="" alt="">
            <mat-card-content>
                <div class="box">
                    <mat-card-title>Choker Necklace</mat-card-title>
                    <mat-card-subtitle>$4,135.47</mat-card-subtitle>
                </div>
            </mat-card-content>
        </mat-card>
        <!--
            mat-card-title
            mat-card-subtitle
            mat-card-content
            mat-card-actions
            mat-card-footer
        -->
    </div>
</div>
<div class="row" style="margin-top: 16px;">
    <div class="col-12 centered">
        <button mat-raised-button color="primary">Add To Bag</button>
    </div>
</div>