<div class="row">
    <div class="col-12">
        <h2>Cart</h2>
    </div>
    <mat-divider></mat-divider>
    <!-- <div></div> -->
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                <h4>Total</h4>
            </div>
            <div class="col-8">
                <h2>$300.60</h2>
            </div>
            <div class="col-4">
                <h5>Subtotal</h5>
            </div>
            <div class="col-8">
                <h4>$260.60</h4>
            </div>
            <div class="col-4">
                <h5>Shipping</h5>
            </div>
            <div class="col-8">
                <h4>$10.00</h4>
            </div>
            <div class="col-4">
                <h5>Tax</h5>
            </div>
            <div class="col-8">
                <h4>$30.60</h4>
            </div>
        </div>
    </div>
</div>