<div class="row">
    <div class="col-12">
        <!-- <mat-selection-list [multiple]="false">
            <mat-list-option routerLink="/catalog">Catalog</mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option>Gold Live Rates</mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option>Popular Items</mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option>Contact</mat-list-option>
        </mat-selection-list> -->
    </div>
</div>